extends layout

block content
    h1 Вход

    if errors.general
        p.error #{errors.general.msg}

    form(method="POST" action="/login")
        div
            input(type="email" name="email" id="email" placeholder="example@mail.ru" value=(data.email || ''))
            if errors.email
                span.error #{errors.email.msg}
        div
            input(type="password" name="password" id="password" placeholder="Пароль")
            if errors.password
                span.error #{errors.password.msg}
        button(type="submit") Войти
