extends layout

block content
    h1 Панель пользователя
    p Добро пожаловать, #{name}!
    p Ваш ID: #{user.id}
    p Ваша роль: #{user.role}

    form(method="GET" action="/logout")
        button(type="submit") Выйти

    h2 Создание авто
    form(method="POST" action="/create-car")
        div
            label(for="name") Название авто:
            input(type="text" name="name" id="name" required)
        div
            label(for="make") Марка:
            input(type="text" name="make" id="make" required)
        div
            label(for="model") Модель:
            input(type="text" name="model" id="model" required)
        button(type="submit") Создать авто
    
    h2 Создание заявки на ремонт
    form(method="POST" action="/create-repair")
        div
            label(for="number") Номер авто:
            input(type="text" name="number" id="number" required)
        div
            label(for="make") Марка:
            input(type="text" name="make" id="make" required)
        div
            label(for="model") Модель:
            input(type="text" name="model" id="model" required)
        button(type="submit") Создать авто